$primary-color: rgb(71, 71, 71);
$accent-color: #f4543f;
$text-color: #fff;

$font-weights: (
    "regular": 400,
    "medium":500,
    "bold": 700
);

$mobile :800px;
$margin-10: 10px;
$margin-20: 20px;


// $card-list : (
//     "border": $border,
//     "card-width": $card-width,
//     "card-color": $card-color, 
//     "border-radius": $border-radius,
//     "card-margin": $card-margin,
//     "card-padding": $card-padding,
//     "card-background": $card-background
// )